* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar-nav li :hover {
  color: rgb(27, 203, 94);
}

.bgimg img {
  width: 100%;
  /* height: 100%calc (100vh-56px); */
  /* background-size: 100% calc(100vh - 56px); */
  height: calc(100vh - 56px);
  background-position: center;
  background-size: cover;
}

.first-part {
  position: relative;
  display: inline-block;
}

.first-part-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px; /* Adjust font size as needed */
  color: white; /* Text color */

  z-index: 1; /* Make sure text appears on top of the image */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0; /* Initially transparent */
  transition: opacity 0.9s ease; /* Smooth transition */
}

.first-part:hover .overlay {
  opacity: 0.6; /* Semi-transparent on hover */
}

.btn-width {
  margin-top: 10%;

  border-radius: 0%;
}

.custom-hr {
  height: 2px;
  background-color: rgb(0, 0, 0);
}

.svg-img {
  align-self: flex-start; /* Align to the top */
  /* margin-bottom: 10px; */
}

.s1 {
  margin-top: 6%;
}

.second_img img {
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
}
.third_portion {
  position: relative;
}
.Third-part-text {
  position: absolute;
  top: 0%;
  left: 2%;
  text-align: start;
  margin: 10% 10%;
  color: aliceblue;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.462);
}
h3 > span {
  color: rgb(60, 210, 60);
}
h4 > span {
  background-color: antiquewhite;
  color: black;
}

.about_text_part,
.about_right_side {
  margin: 7% 0%;
}
.progress_bar_part span {
  display: inline;
  float: right;
  font-size: 15px;
}
.progress_bar_part {
  margin-bottom: 5%;
}
.progress {
  height: 5px; /* Adjust the height as needed */
}
.progress_bar_part h3 {
  display: inline;
  font-size: 20px;
}

.card-body h2 {
  font-size: large;
}

.card-body h3 {
  font-size: larger;
  text-transform: uppercase;
  color: #5aae33;
}
.team-part svg {
  margin-right: 2%;
}
.team-part a {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.our-pricing-part p {
  font-size: x-large;
  font-weight: 500;
}
.card-header-custom {
  color: #5aae33;
  font-size: x-large;
  font-weight: 600;
  /* color: white; */
}
.card-body .list-group-flush .list-group-item {
  border: none; /* Remove the border */
}

.newspart {
  position: relative;
  height: 40vh;
}
.newspart img {
  width: 100%;
  height: 40vh;
  background-position: center;
}
.news-text {
  position: absolute;

  top: 20%;
  left: auto;
  justify-content: center;
  color: aliceblue;
}

.signupbtn {
  background-color: #5aae33;
  border: none;
  border-radius: 0%;
}

.projects-types button {
  background-color: transparent;
  color: #00000086;
  border-color: #00000086;
  border-radius: 5%;
  padding: 0 15px;
}

.gallery-item1 > img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.contact-part-img img {
  /* position: relative; */
  background-position: center;
  width: 100%;
  height: 40vh;
  margin-top: 5vh;
}
.contact-part-img {
  position: relative;
}
.form-part {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Center the form */
  color: antiquewhite;
}
.left-side-text1 a {
  gap: 5;
  text-decoration: none;
  margin: 5px;
}
/* For media query */

@media screen and (max-width: 330px) {
  body {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .contact-part-img img {
    height: 60vh;
  }
}

@media screen and (max-width: 576px) {
  .contact-part-img img {
    height: 80vh;
  }
}
